<header id="header">
        <h1>Calorie Tracker</h1>
    </header>
    <div id="callAction">
        <h2>Seize the moment. Create your profile.</h2>
    </div>
    <div class="container">
        <div class="input">
            <label for="name">Choose a username:</label>
            <input type="text" id="username" name="username" placeholder="Used to login">
        </div>
        <div class="input">
            <label for="name">Choose a password:</label>
            <input type="text" id="password" name="password" placeholder="Used to login">
        </div>
        <div class="input">
            <label for="name">Your name:</label>
            <input type="text" id="name" name="name" placeholder="Full Name">
        </div>
        <div class="input">
            <label for="sweight">Your starting weight:</label>
            <input type="text" id="sweight" name="sweight" placeholder="In pounds (lbs)">
        </div>
        <div class="input">
            <label for="gweight">Your goal weight:</label>
            <input type="text" id="gweight" name="gweight" placeholder="In pounds (lbs)">
        </div>
        <div class="input">
            <label for="calorie">Your daily calorie goal:</label>
            <input type="text" id="calorie" name="calorie">
        </div>
        <div>
            <button id="goBtn">Let's go!</button>
        </div> 
    </div>