    <div class="home-container"></div>
        <div class="col" id="welcome">
            <h2>Welcome back.</h2>
        </div>
    </div>

    <div class="home-container">
        <div class="col">
            <div class="home-center home-col-title">
                <h2>Food log</h2>
            </div>
            <div class="pastPost home-center">
                <p>Your most recent food posts.</p>
            </div>
            <div class="pastPost home-center">
                <p>Your most recent food posts.</p>
            </div>
            <div class="pastPost home-center">
                <p>Your most recent food posts.</p>
            </div>  
        </div>
        <div class="col">
            <div class="home-center home-col-title">
                <h2 >Log a new meal</h2>
            </div>
            <div class="home-input">
                <label for="food">What did you eat?</label>
                <input type="text" id="food" name="food" placeholder='"Tuna salad"'>
            </div>
            <div class="home-input">
                <label for="cal">How many calories in your serving?</label>
                <input type="text" id="cal" name="cal" placeholder='Eg "500"'>
            </div>
            <div class="home-input">
                <label for="img">Upload a photo of your meal:</label>
                <input type="file" id="img" name="img" accept="image/*">
                <input type="submit">
            </div>
        </div>
    </div>