<div class="container align-items-center justify-content-center">
    <div class="container px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold text-white">Calorie Tracker</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4 text-white">Take control of your calories, get started today!</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a class="btn btn-primary btn-lg px-4 gap-3" href="/signin">Log In</a>
                <a class="btn btn-secondary btn-lg px-4" href="/register">Register</a>
            </div>
        </div>
    </div>
</div>
<script src="/js/main.js"></script>