<div class="container align-items-center justify-content-center">
    <div class="px-4 py-5 my-5 text-center fill">
        <h1 class="display-5 fw-bold text-white">Calorie Tracker</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4 text-white">Take control of your calories, get started today!</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a class="btn btn-primary btn-lg px-4 gap-3" href="/signin">Log In</a>
                <a class="btn btn-secondary btn-lg px-4" href="/register">Register</a>
            </div>
        </div>
    </div>
</div>
<script src="/js/main.js"></script>
{{!-- <div class="jumbotron">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h2 class="title has-text-white">Calorie Tracker</h2>
            <h3 class="subtitle has-text-white">Take back control of your calories! Get started today!</h3>
        </div>
    </div>
</div> --}}

{{!-- <div class="home-container"></div>
<div class="col" id="welcome">
    <h2>Welcome back.</h2>
</div>
</div>

<div class="home-container">
    <div class="col">
        <div class="home-center home-col-title">
            <h2>Food log</h2>
        </div>
        <div class="pastPost home-center">
            <p>Your most recent food posts.</p>
        </div>
        <div class="pastPost home-center">
            <p>Your most recent food posts.</p>
        </div>
        <div class="pastPost home-center">
            <p>Your most recent food posts.</p>
        </div>
    </div>
    <div class="col">
        <div class="home-center home-col-title">
            <h2>Log a new meal</h2>
        </div>
        <div class="home-input">
            <label for="food">What did you eat?</label>
            <input type="text" id="food" name="food" placeholder='"Tuna salad"'>
        </div>
        <div class="home-input">
            <label for="cal">How many calories in your serving?</label>
            <input type="text" id="cal" name="cal" placeholder='Eg "500"'>
        </div>
        <div class="home-input">
            <label for="img">Upload a photo of your meal:</label>
            <input type="file" id="img" name="img" accept="image/*">
            <input type="submit">
        </div>
    </div>
</div> --}}