    <div class="settings-center">
        <h2>Profile Settings</h2>
    </div>

    <div class="settings-container">

        <div class="col">
            <p>Your name: {{name}}</p>
            <div class="settings-input">
                <label for="name">Update:</label>
                <input type="text" id="name" name="name">
            </div>
        </div>

        <div class="col">
            <p>Your start weight: {{sweight}}</p>
        <div class="settings-input">
                <label for="sweight">Update:</label>
                <input type="text" id="sweight" name="sweight">
            </div>
        </div>

        <div class="col">
            <p>Your goal weight: {{gweight}}</p>
            <div class="settings-input">
                <label for="gweight">Update:</label>
                <input type="text" id="gweight" name="gweight">
            </div>
        </div>

        <div class="col">
            <p>Your daily caloric goal: {{cal}}</p>
            <div class="settings-input">
                <label for="calorie">Update:</label>
                <input type="text" id="calorie" name="calorie">
            </div>
        </div>  

    </div>

    <div class='settings-center'>
        <button id="settings-save-btn">Save these settings</button>
    </div> 