    <div class="sign-in-container">
        <div class="col sign-in-center">
            <form id="login-form" class="login-form">
                <div class="sign-in-input">
                    <label for="username">Username:</label>
                    <input type="text" id="username-login" name="username">
                </div>
                <div class="sign-in-input">
                    <label for="password">Password:</label>
                    <input type="text" id="password-login" name="password">
                </div>
                <div>
                    <button form="login-form" type="submit" class="sign-in-btn">Sign in</button>
                </div>
            </form>
        </div>
        <div class="col sign-in-center">
            <h3>or</h3>
        </div>
        <div class="col sign-in-center">
            <form action="/register" method="get">
                <button type="submit" class="sign-in-btn" href="/register">Create a new profile</button>
            </form>
        </div>
    </div>
    <script src="/js/login.js"></script>