<div class="container justify-content-center">
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-danger d-flex align-items-center alert-dismissable fade" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                    class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
                    aria-label="Warning:">
                    <path
                        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg>
                <div class="alert-message">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 sign-in-center">
            <div class="card text-center">
                <h5 class="card-header">Login</h5>
                <div class="card-body">
                    <form class="login-form">
                        <div class="form-group row sign-in-input">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" id="username-login" name="username" required>
                        </div>
                        <div class="form-group row sign-in-input">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password-login" name="password" required>
                        </div>
                        <div class="form-group row">
                            <div class="container-flex">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-2 text-center sign-in-center">
            <h3>or</h3>
        </div>
        <div class="col-lg-5 text-center sign-in-center">
            <h3>Get started with us today!</h3>
            <p>Sign up for an account:</p>
            <form action="/register" method="get">
                <button type="submit" class="btn btn-warning" href="/register">Create a new profile</button>
            </form>
        </div>
    </div>
</div>
<script src="/js/login.js"></script>