    <div class="sign-in-container">
        <div class="col sign-in-center">
            <div class="sign-in-input">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username">
            </div>
            <div class="sign-in-input">
                <label for="password">Password:</label>
                <input type="text" id="password" name="password">
            </div>
            <div>
                <button class="sign-in-btn">Sign in</button>
            </div>
        </div>
        <div class="col sign-in-center">
            <h3>or</h3>
        </div>
        <div class="col sign-in-center">
            <form action="/register" method="get">
                <button type="submit" class="sign-in-btn" href="/register">Create a new profile</button>
            </form>
        </div>
    </div>