    <div class="progress-center-small">
        <h2>Progress</h2>
    </div>

    <div class="progress-center-big" id="progress-tracker">
        <p>~~~~~~~~~~~~~~~~~</p>
        <p>Progress tracking graph here</p>
        {{!-- TODO: add handlebar brackets with variable with to render progress --}}
        <p>~~~~~~~~~~~~~~~</p>
    </div>

    <div class="progress-center-small">
        <label for="gweight">Add your most recent weight:</label>
        <input type="text" id="gweight" name="gweight">
        <button id="progress-save-btn">Save</button>
    </div>