<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/create-sign-in.css">
    <title>Calorie Tracker</title>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <img id="logo" src="/img/blue-gray-logo.png" alt="a plate with spoon and fork">
            <a class="navbar-brand" href="/">Calorie Tracker</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav me-auto">
                    {{#if loggedIn}}
                    <li class="nav-item active">
                        <a class="nav-link" href="/dashboard">Dashboard<span class="sr-only">(Current)</span></a>
                    </li>
                    {{/if}}
                </ul>
                <form class="dflex my-2 my-lg-0">
                    {{#if loggedIn}}
                    <button id="logoutBtn" class="btn btn-outline-success my-2 my-sm-0">Logout</button>
                    {{else}}
                    <a id="registerBtn" class="btn btn-outline-danger my-2 my-sm-0" href="/register">Register</a>
                    <a id="loginBtn" class="btn btn-outline-success my-2 my-sm-0" href="/signin">Login</a>
                    {{/if}}
                </form>
            </div>
        </div>
    </nav>
    <main class="container">
        {{{ body }}}
    </main>
    <footer class="footer">
        <div class="container">
            <span class="text-muted">Made with love ❤️ by: George Ngo, Hannah Roddy, Denise Tuominen, and Hok Uy</span>
        </div>
    </footer>
    
</body>

</html>