main {
    padding-top: 100px;
    height: 93vh;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
}

.fill {
    height: 100%;
}

.form-group {
    margin-bottom: 1rem;
}

.footer {
    bottom: 0;
    width: 100%;
    line-height: 40px;
    background-color: #f5f5f5;
}