#header {
    height: 90px;
    background-color: #797A9E;
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
}

.header-left-section {
    display: flex;
}

.header-left-section a{
    color: white;
    text-decoration: none;
}

.header-left-section a:hover{
    text-shadow: 2px 2px black;
}

.header-right-section {
    display: flex;
    align-items: right;
}

#logo {
    height: 50px;
    padding-right: 10px;
}

#nav {
    display: flex;
    margin-right: 40px;
    margin-top: 20px;
}

.nav-link {
    color: white;
    font-size: 20px;
}

.nav-link:hover{
    color: white;
    text-shadow: 2px 2px black;
}

.progress-center-small {
    margin: auto;
    width: 15%;
    padding: 10px;
}

.progress-center-big {
    margin: auto;
    width: 40%;
    padding: 10px;
}

#progress-tracker {
    border: 3px solid #797A9E;
}

#progress-save-btn {
    background-color:  #797A9E;
    color: white;
    opacity: 75%; 
}

#progress-save-btn:hover {
    opacity: 100%;
}