<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="./progress.css">
    <title>Calorie Counter - Progress</title>
</head>
<body>
    <header id="header">
        <h1>Calorie Counter</h1>
    </header>

    <div class="centerSmall">
        <h2>Progress</h2>
    </div>

    <div class="centerBig" id="progressTracker">
        <p>~~~~~~~~~~~~~~~~~</p>
        <p>Progress tracking graph here</p>
        <p>~~~~~~~~~~~~~~~</p>
    </div>

    <div class="centerSmall">
        <label for="gweight">Add your most recent weight:</label>
        <input type="text" id="gweight" name="gweight">
        <button id="saveBtn">Save</button>
    </div>

</body>
</html>