<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="./settings.css">
    <title>Calorie Counter - Settings</title>
</head>
<body>
    <header id="header">
        <h1>Calorie Counter</h1>
    </header>

    <div class="center">
        <h2>Profile Settings</h2>
    </div>

    <div class="container">

        <div class="col">
            <p>Your name: {{name}}</p>
            <div class="input">
                <label for="name">Update:</label>
                <input type="text" id="name" name="name">
            </div>
        </div>

        <div class="col">
            <p>Your start weight: {{sweight}}</p>
        <div class="input">
                <label for="sweight">Update:</label>
                <input type="text" id="sweight" name="sweight">
            </div>
        </div>

        <div class="col">
            <p>Your goal weight: {{gweight}}</p>
            <div class="input">
                <label for="gweight">Update:</label>
                <input type="text" id="gweight" name="gweight">
            </div>
        </div>

        <div class="col">
            <p>Your daily caloric goal: {{cal}}</p>
            <div class="input">
                <label for="calorie">Update:</label>
                <input type="text" id="calorie" name="calorie">
            </div>
        </div>  

    </div>

    <div class='center'>
        <button id="saveBtn">Save these settings</button>
    </div> 

</body>
</html>