<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="./sign-in.css">
    <title>Calorie Tracker - Sign in/Sign up</title>
</head>
<body>
    <header id="header">
        <div class="header-left-section">
            <img id="logo" src="blue-gray-logo.png" alt="a plate with spoon and fork">
            <h1>Calorie Tracker</h1>
        </div>
    </header>
    <div id="sign-in-action">
        <h2>Sign in/Sign up</h2>
    </div>
    <div class="sign-in-container">
        <div class="col sign-in-center">
            <div class="sign-in-input">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username">
            </div>
            <div class="sign-in-input">
                <label for="password">Password:</label>
                <input type="text" id="password" name="password">
            </div>
            <div>
                <button class="sign-in-btn">Sign in</button>
            </div>
        </div>
        <div class="col sign-in-center">
            <h3>or</h3>
        </div>
        <div class="col sign-in-center">
            <button class="sign-in-btn">Create a new profile</button>
        </div>
    </div>
</body>
</html>